/*
 * 
 * Stylesheet für Mountainbike-Routen in Tirol
 * 
 */
 
 /* * {
	 border: 1px solid black;
 } */



        
        /* html, body {
            height: 100vh;
            width: 100vw;
		}	*/
			
		
		
		
		 
 
 
body {
	background-color: #ece7f2;
	font-family: Anthology;
	font-weight: 100;
	/*text-align: center;*/
	margin: 100px;
	max-width: center;
	
	
    
}

a:link, a:visited, a:hover {
	color: rgba(11, 73, 253, 0.7);
	font-weight:bold;
	text-decoration: none;
}
/*
 * vorgegebene Stile der Angabe
 */

/* Titel */
h1 {
	background-color: rgba(255, 255, 255, 0.7);
	font-family: Anthology SG Bold;
	text-align: center;
	color: #00667F;
	font-size: 50px;
	text-transform: uppercase;
	
    
}


/* Untertitel */
h2 {
	font-family: Anthology SG Bold;
	text-align: left;
	color: #00667F;
	font-size: 25px;  
}

h5 {
	font-family: Anthology;
	text-align: center;
	font-size: 27px;
	font-weight:normal;
	font-style:italic;
}

/*Absatz mit Kurztext/ Beschreibung */
div div {
	text-align: justify;
	font-size: 20px;
}
 
p id {
	text-align: center;
}

/* Absatz mit Infotext */
p.info {
	color: #00667F;
	font-size: 20px;
	text-align: left;
	padding: 0 10px;
    
}

/* Karte */
#map {
			
			width: center;
			height: 500px;
			border: 1px solid black;
			/*margin-left: auto;
			margin-right: auto }*/
}
table {
	/*border: 1px solid #9E8DE3; border="0";*/
	border-collapse: collapse;
	width:100%;
	table-layout: fixed;
	text-align: center;
	font-size: 20px;
	
	
}

/* Bilder mit Bildunterschriften */
figure {
	display: block;
	margin: auto; 
	text-align: center;
	
    
}
figure img {
    display: inline;
	margin: 0; 
	width: 80%;
	
}
figure figcaption {
    font-size: 15px;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
    
}



/* Wetter
p.wetter {
	padding-top:5px; 
	padding-bottom:5px; 
	font-size:11px; 
	line-height:15px; 
	font-family:arial;
}*/




/* Linkverzeichnis zu den Quellen */
h4.links {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.7);
    
}
ul.links {
	list-style: none;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.7);
    
}
ul.links li {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.7);
    
}

/* Routennavigation */
nav {
	display: block;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
	font-style: bold;
	color: rgba(255, 255, 255, 0.7);
    
}
nav a.previous {
	display: block;
	font-style: bold;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.7);
    
    
}
nav a.next {
	display: block;
	font-style: bold;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.7);
    
    
}
nav span.current {
	display: block;
	text-align: center;
	font-size: 30px;
    padding: 5px 0px;
	color: rgba(255, 255, 255, 0.7);
    
    
}

/* Autor */
p.author {
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	font-size: 15px;
	text-align: block;
	padding: 0 10px;
    
}
table.vorstellung {
	 border="0"
}
img.kreis {
     border-radius: 50%;
	 max-width: 400px;
	 
	}
   
